# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*

# VS Code
.vscode/

# Logs and temp files
*.log
*.tmp
.DS_Store

# System
Thumbs.db
ehthumbs.db
desktop.ini


# Streamlit/machine-specific
.streamlit/secrets.toml
